@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{

    font-family: "Pacifico", cursive;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 216, 193);
    color: #463403;
}

/* nav */
.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8a0e60;
    padding: 10px;

}

.logo a{

    color: white; 
    text-decoration: none;
    font-size: 1.5em;
}

.image2{

    width: 100px;


}

.nav-links{

    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-links li{

    margin: 0 10px;
    
}

.nav-links a{

    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-links a:hover{

   
    background-color: rgb(47, 0, 255);
    border-radius: 15px;
}

.menu-icon{

    display: none;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

#menu-toggle{

    display: none;


}

/* адаптив меню */

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        padding: 10px;
        text-align: center;
        width: 100%;
        display: block;
    }

    .menu-icon {
        display: block;
    }

    #menu-toggle:checked + .menu-icon + .nav-links {
        display: flex;
    }
}

header, section, footer {
    padding: 20px;
}

header{

    width: 200px;

}

section{

    width: 200px;

}

.section-title {
    margin-top: 0;
}

h1,h2,h3{

    color: #463403;

}

p{

    color: darkslategrey;
    line-height: 1.6;


}

ul{

    margin: 0;
    padding: 0;
    list-style-type: none;

}

li{

    margin-bottom: 5px;


}

.section-title{

    margin-top: 30px;
    margin-bottom: 15px;

}

.contact-info{

    margin-bottom: 5px;

}

.contact-info p{

    margin-bottom: 30px;

}

.education, .experienc{

    margin-bottom: 30px;


}

.education h3, .experienc h3{

    margin-bottom: 10px;

}
/* nav end */
.container{

    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #463403;
    box-shadow: 0 0 10px rgba(5, 5, 5, 0.2);

}

h1,h2,h3{

    color: #463403;

}

p{

    color: darkslategrey;
    line-height: 1.6;


}

ul{

    margin: 0;
    padding: 0;
    list-style-type: none;

}

li{

    margin-bottom: 5px;


}

header{

    margin: 200px;
    background: #e7e2e6;


}

section{

    margin: 200px;
    background: #e7e2e6;

}

.section-title{

    margin-top: 30px;
    margin-bottom: 15px;

}

.contact-info{

    margin: 50px;

}

.contact-info p{

    margin-bottom: 30px;

}

.education, .experienc{

    margin-bottom: 30px;


}

.education h3, .experienc h3{

    margin-bottom: 10px;

}